---
import ThreeScene from '../components/ThreeScene.astro';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Flying Cáceres 3D</title>
	<style>
		*{
			margin:0;
			padding:0;
		}
	</style>
  </head>
  <body>
    <main>
      <ThreeScene />
    </main>
  </body>
</html>
